{% extends 'sebastianTemplate.html' %}

{% block content %}
<!--Education section-->
<section id="education">
    <h2>Education</h2>
    <div id="education-row">
        
            <p class="education-text">
                I am a rising senior at
                Monterrey Institute of Technology<br>
                studying computer science. 
            </p>

        <div>
        <img class="img-in-row2" src="./static/img/educationImg.jpg">
        </div>
    </div>
</section>
{% endblock %}

