{% extends 'sebastianTemplate.html' %}

{% block head %}
<link lang='sass' rel="stylesheet" href="./static/styles/hobbies.css">
{% endblock %}


{% block content %}   
<!--Hobbies section-->
<section id="hobbies">
    <h2>Hobbies</h2>
    <!--IMG row-->
    <div class="images-row">
        <div class="img-cont">
            <img class="img-in-row" src="./static/img/HobbiesImg1.jpg">
        </div>
        <div class="img-cont">
            <img class="img-in-row" src="./static/img/HobbiesImg2.jpg">
        </div>
        <div class="img-cont">
            <img class="img-in-row" src="./static/img/HobbiesImg3.jpg">
        </div>
    </div>
    <div class="hobby-descr-row">
        <div class="hobby-info">
            <p class="hobby-title"> Gaming </p>
        </div>
        <div class="hobby-info">
            <p class="hobby-title"> Going to the gym </p>
        </div>
        <div class="hobby-info">
            <p class="hobby-title">Watching movies, series and anime </p>
        </div>
    </div>
</section>
{% endblock %}

