{% extends 'sebastianTemplate.html' %}

{% block content %}
 <!--More About Me section-->
 <section id="more-about">
    <h2>More about me</h2>

    <div class="more-about-column">
        <p>Hobbies:</p>
        
        <ul>
        {% for n in hobby_list %}
        <li>{{n}}</li>
        {% endfor %}
        </ul>    
    </div>

    <div class="more-about-column">
        <p>Work experience:</p>
        
        <ul>
        {% for n in work_list %}
        <li>{{n}}</li>
        {% endfor %}
        </ul>
    </div>

    <div class="more-about-column">
        <p> Education:</p>
        <ul>
        {% for n in education_list %}
        <li>{{n}}</li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}

