<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link lang='sass' rel="stylesheet" href="./static/styles/aboutSebas.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{{ title }}</title>
</head>
<header>
    <!--Navigation Bar-->
    <div class="navbar">
       <nav>
           <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('sebasProfile') }}">About Me</a></li>
                <li><a href="{{ url_for('sebasWork') }}">Work</a></li>
                <li><a href="{{ url_for('sebasHobbies') }}">Hobbies</a></li>
                <li><a href="{{ url_for('sebasEducation') }}">Education</a></li>
                <li><a href="{{ url_for('sebasTravel') }}">Travel With Me</a></li>
                <li><a href="{{ url_for('moreAboutSebas') }}">More about Me</a></li>
                <li><a href="{{ url_for('timeline') }}">Blog</a></li>
           </ul>
       </nav>
    </div>
   </header>
<body>
    <!-- Jinja template block for different tabs-->
    {% block head %}
    {% endblock %}
    {% block content %}{% endblock %}
    <!-- Home Page
    <section id="banner">
        <div class="my-name"><h2>Sebastian Rojas Salazar</h2></div>
        <img style = width:30%; height:30%; src="./static/img/sebasPic.jpg">
    </section> -->
    
    
</body>
</html>